@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
    transition: 1s;
}

@layer base {
    body{
       font-family: 'Syne', sans-serif;
    }
}

@layer components{
    .container{
        @apply max-w-[1000px]
    }
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  #style-2 {
    scrollbar-width: 0;
    scrollbar-color: #b8ca9d;
  }

  /* Chrome, Edge, and Safari */
  #style-2::-webkit-scrollbar {
    width: 3px;
    scrollbar-color: #c09300;
  }

  #style-2::-webkit-scrollbar-thumb {
    background-color: #c09300;
    border-radius: 10px;
  }